main, turbo-frame, .modal-content {
  header {
    display: flex;
    justify-content: space-between;

    // Ancienne façon de faire à base de ul/li pour les actions.
    ul {
      @extend .list-inline;

      li {
        @extend .list-inline-item;
        @extend .ms-2;
        @extend .me-0;
      }

      .btn-link {
        padding: 0;
      }
    }
  }
}

// Nouvelle façon de faire à base de flex qui accepte n'importe quel type d'élément à la suite pour les actions.
.actions {
  display: flex;
  justify-content: end;
  @extend .gap-2;

  & > * {
    align-self: center;
  }
}

section {
  @extend .clearfix;
  background-color: $white;
  padding: $spacer;
  margin-bottom: $spacer;

  p.alert-info:first-child,
  .table {
    margin-bottom: 0;
  }
}

form.crud {
  .btn-success {
    float: right;
  }
}

table.table-show {
  th {
    text-align: right;
  }
}
