<div id="notifications" data-turbo-temporary>
    {#    {% if not turbo.requestHasFrame %}#}
    {% for options in app.session.flashbag.get(namespace|default('sweet-alert')) %}
        <div {{ stimulus_controller('alert', options) }}></div>
    {% endfor %}
    {#    {% endif %}#}
</div>
